<div class="container">
    <div class="voice">
        <h1>Plase say the command</h1>
        <button mat-fab color="primary" class="mic" (mousedown)="startService()" (mouseup)="stopService()"
            title="Hold the button to record">
            <mat-icon class="mic">mic</mat-icon>
        </button>
        <br>
        <p *ngIf="listening">listening..</p>
        <mat-form-field class="example-full-width" appearance="fill">
        <input matInput class="listned-text" value={{service.text}} #recognizedText>
    </mat-form-field>
        <button mat-raised-button color="primary" (click)="update(recognizedText.value)">Submit</button>
    </div>
    <div class="template">
        <table mat-table [dataSource]="templateList" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Predeifined Templates </th>
                <td mat-cell *matCellDef="let template;let i = index;">
                    <editable>
                        <ng-template viewMode>{{ template.name }}</ng-template>
                        <ng-template editMode>
                            <button mat-raised-button color="primary" editableOnSave (click)="update(editedVal.value)">Submit</button>
                            <button mat-raised-button color="warn" editableOnCancel>Cancel</button>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput editableOnEnter editableOnEscape value={{template.name}} #editedVal/>
                            </mat-form-field>
                        </ng-template>
                    </editable>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>